<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<display-name>tbims.server</display-name>
	<!-- spring 加载 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring-*.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- spring mvc 配值 -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

    <!-- Spring 刷新Introspector防止内存泄露 -->    
    <listener>  
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>  
    </listener>  

	<!-- 框架服务初始化,启动时执行(需要连接数据的操作) -->
	<servlet>
		<servlet-name>ProjectServletConfig</servlet-name>
		<servlet-class>com.zhming.support.init.ProjectInitServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<!-- 字符安全过滤 -->
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>com.zhming.support.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>

	<!-- 资源权限安全过滤 -->
	<filter>
		<filter-name>SecurityFilter</filter-name>
		<filter-class>com.zhming.support.filter.SecurityFilter</filter-class>
		<init-param>
			<param-name>ignoreUrl</param-name>
			<param-value>/timeOut.jsp,/sys/login.do,/login.jsp,/authError.jsp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	
	<!-- 自定义标签库 -->
	<jsp-config>
		<taglib>
			<taglib-uri>/elFunction</taglib-uri>
			<taglib-location>/WEB-INF/tlds/elfunction.tld</taglib-location>
		</taglib>
	</jsp-config>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
		<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>