<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.tbims.face.dao.SecondinRegInfoDao">
	<select id="find"  resultType="com.tbims.face.entity.SecondinRegInfo">
		select 
			REGID regId,
			CLIENTID clientId,
			FACEID faceId,
			IDCARD idcard,
			TICKETID tickedId,
			INSERTTIME insertTime,
			FINGERID1 fingerId1,
			FINGERID2 fingerId2
		from 
			SL_SECONDIN_REGINFO
		where
		<trim prefixOverrides="and">
			<if test="invalidNum != null">
				 floor( trunc((INSERTTIME + (#{invalidNum,jdbcType=NUMERIC} - 1)))  - trunc(sysdate) ) >= 0
			</if>
			<if test="sri.regId != null and sri.regId != ''">
				and REGID = #{sri.regId}
			</if>
			<if test="sri.idcard != null and sri.idcard != ''">
				and IDCARD = #{sri.idcard}
			</if>
			<if  test="sri.faceId != null and sri.faceId != ''">
				and FACEID = #{sri.faceId}
			</if>
			<if test="sri.tickedId != null">
				and TICKETID = #{sri.tickedId}
			</if>
		</trim>
		ORDER BY INSERTTIME desc
	</select>
	
	<insert id="save" parameterType="com.tbims.face.entity.SecondinRegInfo">
		insert into 
			SL_SECONDIN_REGINFO
			
			values
			(
				#{regId,jdbcType=VARCHAR},
				#{clientId,jdbcType=NUMERIC},
				#{faceId,jdbcType=VARCHAR},
				#{idcard,jdbcType=VARCHAR},
				#{tickedId,jdbcType=NUMERIC},
				#{insertTime,jdbcType=TIME},
				#{fingerId1,jdbcType=VARCHAR},
				#{fingerId2,jdbcType=VARCHAR}
			)
	</insert>

	<update id="updateInsetTime" parameterType="map">  
	    update
	    	SL_SECONDIN_REGINFO
	    set
	    	INSERTTIME = #{nowDate,jdbcType=TIME},
	    where
	    	REGID in
	    	 <foreach collection="ids" item="item" index="index" separator="," open="(" close=")">
			 	#{item.regId,jdbcType=VARCHAR}
			 </foreach>
    </update>  
    
    <select id="findAllFinger" resultType="map" parameterType="integer">
    	select 
			REGID as "regId",
			FINGERID1 as "fingerId1",
			FINGERID2 as "fingerId2"
		from 
			SL_SECONDIN_REGINFO
		where 
			fingerId1 is not null
			and fingerId2 is not null
			
			and floor( trunc((INSERTTIME + (#{invalidNum,jdbcType=NUMERIC} - 1)))  - trunc(sysdate) ) >= 0
    </select>


</mapper>







